$redes: (
    "Facebook": rgb(17, 144, 241),
    "Instagram": rgb(241, 17, 99),
    "Whatsapp": rgb(33, 211, 30),
);

.botonFacebook {
    color: map-get($map: $redes, $key: Facebook );
}
.botonInstagram {
    color: map-get($map: $redes, $key: Instagram );
}

.botonWhatsapp {
    color: map-get($map: $redes, $key: Whatsapp );
}

@for $i from 1 through 10 {
    .col -#{$i} {
        width: 10% * $i;
    }
}

@each $colorActual in green, yellow, black {
    .#{$colorActual} {
        color: #{$colorActual};
    }
}
@each $redActual, $colorActual in $redes {
    .boton#{$redActual} {
        color: $colorActual;
        }
    
}